.customHeading {
  color: rgba(0, 0, 0, 0.9);
}

.heading-h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}

.heading-p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25;
}

.heading-p-06 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25;
  overflow-wrap: break-word;
}

.heading-h2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.25;
}

.heading-h3 {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25;
}
